<blockquote class="blockquote text-center  " >
<form >
  <div class="form-group">
    <label>Identificacion</label>
    <input type="text" class="form-control" placeholder="Identificacion" [(ngModel)]="persona.identificacion">
  </div>

  <div class="row">
    <div class="col">
      <label>Nombres</label>
      <input type="text" class="form-control" placeholder="Nombres"[(ngModel)]="persona.nombres">
    </div>
    <div class="col">
      <label>Apellidos</label>
      <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="persona.apellidos" >
    </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Sexo</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="persona.sexo">
      <option value="F">Femenino</option>
      <option value="M">Masculino</option>
    </select>
  </div>

  <div class="form-group">
    <label>Edad</label>
    <input type="number" class="form-control" placeholder="0" [(ngModel)]="persona.edad">
  </div>

  <div class="row">
    <div class="col">
      <label>Departamento</label>
      <input type="text" class="form-control" placeholder="Departamento" [(ngModel)]="persona.departamento">
    </div>
    <div class="col">
      <label>Ciudad</label>
      <input type="text" class="form-control" placeholder="Ciudad" [(ngModel)]="persona.ciudad">
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo de apoyo</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="apoyo.tipo">
      <option value="A">Alimentario</option>
      <option value="E">Economico</option>
    </select>
  </div>

  <div class="form-group">
    <label>Valor</label>
    <input type="number" class="form-control" placeholder="0" [(ngModel)]="apoyo.valor">
  </div>

  <div class="form-group">
    <label>Fecha</label>
    <input type="text" class="form-control" placeholder="Fecha" [(ngModel)]="apoyo.fecha">
  </div>

  <button type="button" class="btn btn-info" id="btnRegistrar" (click)="validarCampos()">
    Registrar Persona  
  </button>
</form>
</blockquote>